<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .login {
                      background-color:green;
                      color: white;
                      padding: 16px 20px;
                    }

        .login:hover {
                             opacity: 1;
                      }
    </style>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <center>
        <br><br><br>
        Username: <input type="text" name="username" placeholder="Enter your username"><br><br>
        Password: <input type="password" name="password" placeholder="Enter your password"><br><br>
        <button type="submit" class="login">Login</button>
</center>
</form>
{% for msg in messages %}
<h4 style="color:blue;">{{msg}}</h4>
{% endfor %}
</body>
</html>